.btn{
    width: 150px;
    height: 40px;
    background: #FF0000;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}